In [47]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\onedrive\desktop\lhs analysis\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\LHS Analysis\Luxury_Housing_Bangalore (1).csv")
print(df)

       Property_ID       Micro_Market Project_Name Developer_Name  \
0       PROP000001      Sarjapur Road    Project_0            RMZ
1       PROP000002        Indiranagar    Project_1    Puravankara
2       PROP000003  Bannerghatta Road    Project_2   Tata Housing
3       PROP000004       bellary road    Project_3        Embassy
4       PROP000005        Koramangala    Project_4        SNN Raj
...            ...                ...          ...            ...
100995  PROP004730       BELLARY ROAD  Project_229        Embassy
100996  PROP059810       Bellary Road  Project_309        Brigade
100997  PROP065099        HENNUR ROAD   Project_98            RMZ
100998  PROP093022        rajajinagar   Project_21        Embassy
100999  PROP023826         whitefield  Project_325     L&T Realty

        Unit_Size_Sqft Configuration     Ticket_Price_Cr Transaction_Type  \
0               4025.0          4bhk  12.750846039118798          Primary
1               5760.0          3Bhk  16.292151871065954          Primary
2               7707.0          4bhk  10.517724412961911          Primary
3               6192.0          3BHK   9.396367494232896          Primary
4               7147.0          4Bhk  15.345392444511946        Secondary
...                ...           ...                 ...              ...
100995          8546.0         5Bhk+   11.33081004147843        Secondary
100996          3408.0          3bhk  10.829373158307602          Primary
100997          4691.0          4BHK  11.183303152058548          Primary
100998          7435.0          3BHK  10.914156376035923        Secondary
100999          3218.0          4bhk           â‚¹13.27 Cr          Primary

             Buyer_Type Purchase_Quarter  Connectivity_Score  Amenity_Score  \
0                   NRI       2025-03-31            7.990091       5.462863
1                 Other       2024-06-30            4.839024            NaN
2                   HNI       2023-12-31            8.131315       8.669227
3                   HNI       2024-03-31            7.501657       5.720246
4                   HNI       2024-12-31            4.525216       8.609649
...                 ...              ...                 ...            ...
100995              CXO       2024-12-31            8.552797       6.221131
100996              CXO       2024-09-30            6.879269       9.783611
100997              NRI       2023-12-31            6.753812       8.383013
100998            Other       2024-06-30            4.437787       5.756247
100999  Startup Founder       2023-12-31            7.760416       9.989290

         Possession_Status Sales_Channel NRI_Buyer  Locality_Infra_Score  \
0                   Launch        Broker       yes              9.212491
1       Under construction      NRI Desk        no              7.723898
2            Ready to move        Direct       yes              6.985493
3            Ready to move        Online       yes              6.100929
4       Under construction        Broker        no              5.312510
...                    ...           ...       ...                   ...
100995  Under construction      NRI Desk        no              7.511827
100996       Ready to move        Direct        no              9.851849
100997  Under construction        Broker        no              9.101604
100998  Under construction        Broker       yes              8.588551
100999  Under construction        Direct       yes              9.917647

        Avg_Traffic_Time_Min              Buyer_Comments
0                         18        Loved the amenities!
1                        106                         NaN
2                        113   Agent was not responsive.
3                        106         Excellent location!
4                         18     Too far from my office.
...                      ...                         ...
100995                    22  Will buy after possession.
100996                    26   Agent was not responsive.
100997                    44        Loved the amenities!
100998                    66         Excellent location!
100999                    58        Loved the amenities!

[101000 rows x 18 columns]

In [50]:
d = pd.read_csv

In [51]:
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [52]:
df.head()      
df.shape        
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [53]:
df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [54]:
df.duplicated().sum()

np.int64(1000)

In [55]:
df.drop_duplicates(inplace=True)

In [56]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')
df.columns

Index(['property_id', 'micro_market', 'project_name', 'developer_name',
       'unit_size_sqft', 'configuration', 'ticket_price_cr',
       'transaction_type', 'buyer_type', 'purchase_quarter',
       'connectivity_score', 'amenity_score', 'possession_status',
       'sales_channel', 'nri_buyer', 'locality_infra_score',
       'avg_traffic_time_min', 'buyer_comments'],
      dtype='object')

In [57]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna('Unknown')

In [58]:
df= df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [59]:
for col in df.columns:
    if 'price' in col or 'cost' in col:
       df[col] = pd.to_numeric(df[col], errors='coerce')

for col in df.columns:
    if 'df' in col:
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [61]:
clean_path = r"C:\Users\ASUS\OneDrive\Desktop\LHS Analysis\Luxury_Housing_Bangalore (1).csv"
df.to_csv(clean_path, index=False)
print("Cleaned data saved at:", clean_path)

Cleaned data saved at: C:\Users\ASUS\OneDrive\Desktop\LHS Analysis\Luxury_Housing_Bangalore (1).csv

In [62]:
%pip install sqlalchemy
%pip install pymysql
%pip install mysql-connector-python

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------------ --------------- 1.3/2.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 6.8 MB/s  0:00:00
Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy

   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.2.4 sqlalchemy-2.0.44 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.
Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.8/16.5 MB 9.1 MB/s eta 0:00:02
   --------- ------------------------------ 3.9/16.5 MB 9.4 MB/s eta 0:00:02
   -------------- ------------------------- 6.0/16.5 MB 9.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.5 MB 9.3 MB/s eta 0:00:01
   ----------------------- ---------------- 9.7/16.5 MB 9.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.8/16.5 MB 9.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.6/16.5 MB 9.1 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 8.8 MB/s  0:00:02
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [63]:
from sqlalchemy import create_engine

file_path = r"C:\Users\ASUS\OneDrive\Desktop\LHS Analysis\Luxury_Housing_Bangalore (1).csv"
df = pd.read_csv(file_path)

engine = create_engine("mysql+pymysql://root:PraveenK12345@localhost:3306/lhsb_analysis")
df.to_sql(
    name='luxury_housing_bangalore_table',  
    con=engine,
    if_exists='replace',                   
    index=False
)

print("Data successfully pushed to MySQL!")

Data successfully pushed to MySQL!